.page {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 70px;



    &_banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 260px;
        width: 100%;

        background-color: #F3F3F3FF;
        text-align: center;



        &_leftside {
            width: 500px;
            height: 260px;


            &_img {
                width: 500px;
                height: 250px;
            }
        }

        &_content {
            &_title {
                font-family: "Aleo", serif;
                font-size: 40px;
                font-weight: 600;
                color: #2d2d2d;
            }

            &_text {
                color: #707070;

                &_link:hover {
                    color: #5ba515ff;
                }
            }
        }

        &_rightside {
            width: 500px;
            height: 260px;

            &_img {
                width: 500px;
                height: 250px;
            }
        }
    }

    // store Banner

    //add note
    .note {

        margin: 0px 30px;

        &_title {
            color: #2d2d2d;
            font-size: 16px;
            font-weight: 600;


        }

        &_container {
            display: flex;
            flex-direction: column;
            gap: 40px;


            &_input {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: start;

                &_applybtn{
                    &:hover{
                        background-color:  rgb(157, 216, 103);
                    }
                    width: 150px;
                    height: 40px;
                    border: none;
                    background-color: #5ba515ff;
                    border-radius: 70px;
                    color: white;
                    cursor: pointer;
                    
                }



                &_message {
                   
                    margin-top: 15px;
                    border: 1px solid #dbdbdb;
                    outline: none;
                    padding-left: 10px;

                }

                &_item {
                    width: 400px;
                    height: 50px;
                    border: 1px solid #dbdbdb;
                    padding-left: 10px;
                    outline: none;

                }



            }


            &_subtotal{
              display: flex;
              justify-content: space-around;
             color: #707070;
             font-size: 20px;
             font-weight: 700;

             &_checkout{
                &:hover{
                    background-color:  rgb(157, 216, 103);
                }
              
                width: 200px;
                height: 40px;
                border: none;
                background-color: #5ba515ff;
                border-radius: 70px;
                color: white;
                cursor: pointer;
               
               }
                
            }

           


        }


        
    }
    //add note


}